{% extends "base.html" %}

{% block title %}Block {{ block.number }}{% endblock %}

{% block content %}
<p class="title is-1">Block: {{ block.number }}</p>
<p>Hash: 0x{{ block.hash.hex() }}</p>
<p>Timestamp: {{ block.timestamp }}</p>
<p>Miner: {{ block.miner }}</p>
{% if block.totalDifficulty %}
<p>Total Difficulty: {{ block.totalDifficulty }}</p>
{% endif %}
<p>Size: {{ block.size }}</p>
<p>Gas Used: {{ block.gasUsed }}</p>
<p>Gas Limit: {{ block.gasLimit }}</p>
{% if block.uncles %}
<p>Uncles: {{ block.uncles }}</p>
{% endif %}
<p>ExtraData: {{ block.extraData }} (Hex: 0x{{ block.extraData.hex() }})</p>
{% if block.withdrawals%}
<p>Withdrawals:</p>
{% for withdrawal in block.withdrawals %}
<p>{{ withdrawal.address }}: {{ withdrawal.amount / 1000000000000000000 }} ETH</p>
{% endfor %}
{% endif %}
<p>block transactions:</p>
{% for tx in block.transactions %}
TX: <a href="{{ url_for('main.transaction', tx_hash=tx.hex())}}">{{ tx.hex() }}</a></br>
{% endfor %}

{% endblock %}
