<h1>{{ block.number }}</h1>
<p>block hash: 0x{{ block.hash.hex() }}</p>
<p>block timestamp: {{ block.timestamp }}</p>
<p>block miner: {{ block.miner }}</p>
<p>block totalDifficulty: {{ block.totalDifficulty }}</p>
<p>block size: {{ block.size }}</p>
<p>block gasUsed: {{ block.gasUsed }}</p>
<p>block gasLimit: {{ block.gasLimit }}</p>
<p>block transactions: {{ block.transactions }}</p>
<p>block uncles: {{ block.uncles }}</p>
<p>block extraData: {{ block.extraData }} (Hex: 0x{{ block.extraData.hex() }})</p>
<p>block withdrawals:</p>
{% for withdrawal in block.withdrawals %}
<p>{{ withdrawal.address }}: {{ withdrawal.amount / 1000000000 }} ETH</p>
{% endfor %}

